<% @categories.each do | the_category | %>
  <p><strong><%= the_category %></strong></p>
  <% @products.each do | product | %>
    <% if product.category == the_category %>
    <p><%= product.name %></p>
    <% end %>
  <% end %>
<% end %>